@charset "utf-8";

/* Criando um mobile-first
device breakpoints
mobile 600 px
tablet 780 px
desktop 992  px
smart_tv 1200 px

*/

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 border-radius: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #000000;

}
#circulos img {
  width: 450px;
  height: 400px;
  border-radius: 20px;
  margin: 20px;
 
}

#circulos {
  display: flexbox;
  justify-content: top;
  align-items: top;
  position: top;
  text-align: center;
} 

body {
  font-family: inherit;
  font-size: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff1a1a;
  color: white;
  padding: 15px 40px;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:white
}

.menu-toggle {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    
}

.nav-links a:hover {
    color: #ff1a1a;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        border-radius: 8px;
        padding: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        text-align: right;
        margin: 10px 0;
    }
}